.a_acute,.a_caron,.a_diaeres,.a_cirkum {
	position: relative;
}
.a_acute:after, .a_caron:after,.a_diaeres:after,.a_cirkum:after {
	/* offset of lowercase letters */
	top: -12px;

	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	/* font stack with diacritical marks that looks the same goes here! */
}
.a_acute:after {
	content: "´";
}
.a_caron:after {
	content: "ˇ";
}
.a_diaeres:after {
	content: "¨";
	left: -2px;
}
.a_cirkum:after {
	content: "ˆ";
}
.upper:after,
.tall.a_acute:after {
	/* offset of marks placed above uppercase letters */
	top: -22px;
}

/* Solving the issue of caron witch is actually apostrophe on tall letters */
/* sorry kerning :( */
.tall.a_caron {
	margin-right: 0.15em;
}
.tall.a_caron:after, .talld.a_caron:after {
	/* offset of tall letters with caron */
	top: -15px;

	content: "ʼ";
	left: 0.15em;
	font-size: 0.95em;
}
/* d is just different */
.talld.a_caron:after {
	left: 0.35em;
}