._acute_accent,._caron,._diaeresis,._cirkumflex {
	position: relative;
}

/* offset of lowercase letters */
._acute_accent:after, ._caron:after,._diaeresis:after,._cirkumflex:after {
	top: -24%;
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	/* font stack with diacritical marks that looks the same goes here! */
}
._acute_accent:after { content: "´"; }
._caron:after { content: "ˇ"; }
._diaeresis:after { content: "¨"; }
._cirkumflex:after { content: "ˆ"; }
/* Add other marks here */

/* offset of marks placed above uppercase letters */
._acute_accent.upper:after,
._caron.upper:after,
._diaeresis.upper:after,
._cirkumflex.upper:after,
._acute_accent._l:after {
	top: -43%;
}

/* Special cases ------------------------ */
/* varies in this section can be very denpenedn on your font */

/* Solving the issue of caron witch is actually apostrophe on tall letters like L,l,d */
._caron._l,
._caron._d,
._caron._t {
	/* sorry kerning :( margin to compensate */
	margin-right: 0.15em;
}
._caron._l:after,
._caron._d:after,
._caron._t:after,
._caron.upper._L:after {
	content: "ʼ";
	font-size: 0.95em;
	top: -32%;
}
._caron._l:after,
._caron.upper._L:after,
._caron._t:after {
	left: 0.15em;
}
._caron._d:after {
	left: 0.35em;
}